infrastructure/prod/page-creator.zip
infrastructure/prod/terraform.tfstate.backup
infrastructure/prod/.terraform/
infrastructure/prod/.terraform/
infrastructure/prod/bootstrap
.DS_Store
infrastructure/prod/terraform.tfstate
infrastructure/prod/terraform.tf
infrastructure/prod/.terraform.lock.hcl
